
<body class="fondito" >
    <div class="col-lg-8 col-lg-offset-2 ">
      <div class="jumbotron" style="text-align: center">
          <h1>Bienvenido a EssoQue Music</h1>
          <p>Empieza a escuchar toda la música del Grupo Musical Esso !!</p>
          <p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/artistas', 1]" role="button" style="margin-right: 8px;">Ver Artistas</a>
            <a class="btn btn-primary btn-lg" [routerLink]="['/productos', 1]" role="button">Ver Productos</a>
          </p>
         
      </div>
    </div>
    </body>