<div class="head-page" *ngIf="identity">
    <h1>{{titulo}}</h1>
    <a [routerLink]="['/crear-evento']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default">
        Añadir Evento
    </a>

</div>

<div class="clearfix"></div>

<div class="table-responsive" style="padding-top: 50px;"> 
    <table class="table table-striped table-bordered table-hover table-condensed" style="background: aliceblue;" *ngIf="identity">
      <thead>
        <th style="text-align: center;">Lugar</th>
        <th style="text-align: center;"> Tipo Evento</th>
        <th style="text-align: center;" *ngIf="identity.role == 'ROLE_ADMIN'">Descripción</th>
        <th style="text-align: center;">Fecha</th>
        <th style="text-align: center;" *ngIf="identity.role == 'ROLE_ADMIN'">Operaciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos">
          <td style="text-align: center;"  >{{ evento.lugar }}</td>
          <td style="text-align: center;">{{ evento.tipo }}</td>
          <td style="text-align: center;" *ngIf="identity.role == 'ROLE_ADMIN'">{{ evento.descripcion }}</td>
          <td style="text-align: center;">{{ evento.fecha }}</td>
          <td style="text-align: center;" *ngIf="identity.role == 'ROLE_ADMIN'">
            <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
            <a [routerLink]="['/editar-evento', evento._id]" class="btn btn-sm btn-warning">Editar</a>
            <a (click)="onDeleteConfirm(evento._id)" class="btn btn-sm btn-danger">Borrar </a>
            </div>
            <div class="seguro2" *ngIf="confirmado == evento._id">
                <a (click)="onDeleteEvento(evento._id)" class="btn btn-sm btn-danger">Eliminar</a>
                <a (click)="onCancelEvento()" class="btn btn-sm btn-primary">Cancelar</a>
            </div> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>





