
<body>
        <div class="col-lg-8 col-lg-offset-2 ">
          <div style="text-align: left; padding-top: 30px;opacity:10; height: 10px; padding-bottom: 1400px;">
                <div >
                        <h1 style="text-align: center; color: blue">Esso Que</h1>
                        <hr style="color: rgb(252, 0, 0)">
                        <h3 style="text-align: justify; color: black;">Grupo musical Esso Que, fundada por el señor José Luis Rodriguez.<br>
                        Iniciando solo como un sueño, hoy en día es un logro para el señor José Luis y su grupo musical Esso Que, tener la oportunidad de poder llegar a todas las personas de San Felipe y sus al rededores por medio de la música.</h3>
                        
                    </div>

                    <main>
                            <article style="color: black;">
                                <h1 style="text-align: center; color: blue">Información de Contacto</h1>
                                <hr style="color: rgb(252, 0, 0)">
                                <h4>
                                Llamar 4286815912<br>
                    
                                m.me/Kikeh85
                                <br><br>
                                MÁS INFORMACIÓN
                                <br><br>
                                Descripción
                                Grupo Musical originario de San Felipe Guanajuato. 
                                <br><br>
                                CONTRATACIONES
                                <br><br>
                                Whatssap: 4281037746<br>
                                Cel: (428) 68 159 12<br>
                                Representante: José Luis Rodriguez</h4><br><br>
                                            
                                
                            </article>
                        </main>
                        
                        
                                <h1 style="text-align: center; color: blue">Ubicación</h1>
                                <hr style="color:rgb(252, 0, 0)">
                                <br>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3712.8794353266812!2d-101.21745968519771!3d21.473246785759326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b027974ddcb2f%3A0xd9a962d00c882a50!2sAldama+509%2C+Centro%2C+37600+San+Felipe%2C+Gto.!5e0!3m2!1ses-419!2smx!4v1558934461321!5m2!1ses-419!2smx" width="900" height="400" style="border:black;" allowfullscreen></iframe>
                            
             
          </div>
          
        </div>
       
        </body>